.grid-landing{
    display: grid;

    width: 100%;

    grid-template-columns: 25% 75%;
    grid-template-rows: 120px 100px 900px;

    @include xl{
        grid-template-rows: 110px 100px 700px;
    }

    @include lg{
        grid-template-rows: 110px 80px 700px;
    }

    @include ms{
        grid-template-rows: 82px 110px 400px;
    }

    @include sm{
        grid-template-rows: 70px 110px 350px;
    }
}